<hr>
<button (click)="loadHistory()">Обновить список Истории</button>
<br>

<hr>
<h2>Фильтр истории</h2>
<label for="operation">Выберите тип операции</label>
<select name="operation" id="operation" [(ngModel)]="operation">
  <option value="allOperation">Все операции</option>
  <option value="multiply">Умножение</option>
  <option value="division">Деление</option>
  <option value="addition">Сложение</option>
  <option value="subtraction">Вычитание</option>
</select>
<br>
<label for="time">Выберите период</label>
<select name="time" id="time" [(ngModel)]="time">
  <option value="allTime" selected>За все время</option>
  <option value="lastDay">За последний день</option>
  <option value="threeDays">За последние 3 дня</option>
  <option value="sevenDays">За последние 7 дней</option>
  <option value="lastMonth">За последний месяц</option>
</select>
<div *ngIf="exercises.length; else loading">
  <ul>
    <li
      *ngFor="let exercise of exercises | operationSearchPipe: operation | timeSearchPipe: time; let idx = index"
      [style]="{cursor: 'pointer'}"
      [routerLink]="['/math', 'exercise', exercise.id]"
    >
      {{ idx + 1 }}. {{ exercise.endTimeOfSolving | date: 'short': 'null': 'ru' }},
      {{ exercise.operation | translatePipe }},
      <span
        [style.background-color]="exercise.quantityAnswers - exercise.correctAnswer === 0 ? '#00f800' :
                                  exercise.quantityAnswers - exercise.correctAnswer === 1 ? '#f87000' :
                                  '#ff0000'"
      > {{ exercise.correctAnswer }}/{{ exercise.quantityAnswers }}</span>
      <button [routerLink]="['/math', 'exercise', exercise.id]">Подробнее</button>

    </li>
  </ul>
</div>
<ng-template #loading>
  <p> Идет загрузка списка истории</p>
</ng-template>
