<hr>
<button (click)="loadHistory()">Обновить список Истории</button>
<br>
<!--<input type="text" [(ngModel)]="search">-->

<hr>
<h2>Фильтр истории</h2>
<label for="operation">Выберите тип операции</label>
<select name="operation" id="operation" [(ngModel)]="operation">
  <option  value="allOperation">Все операции</option>
  <option value="multiply">Умножение</option>
  <option value="division">Деление</option>
  <option value="addition">Сложение</option>
  <option value="subtraction">Вычитание</option>
</select>
<br>
<label for="time">Выберите период</label>
<select name="time" id="time" [(ngModel)]="time">
  <option value="allTime">За все время</option>
  <option value="lastDay">За последний день</option>
  <option value="threeDays">За последние 3 дня</option>
  <option value="sevenDays">За последние 7 дней</option>
  <option value="lastMonth">За последний месяц</option>
</select>
<div>
  <div *ngFor="let exercise of exercises | operationSearchPipe: operation | timeSearchPipe: time; let idx = index">
    <!--  <h3>{{example[0].i[0].date}}</h3>-->
    <h3
      [style]="{cursor: 'pointer'}"
      [routerLink]="['/math', 'exercise', exercise.id]"
    >
      {{ idx + 1 }}. {{ exercise.endTimeOfSolving | date: 'medium' }},
      Тип: {{ exercise.operation }}, {{ exercise.correctAnswer}}/{{ exercise.quantityAnswers }}
    </h3>

    <button [routerLink]="['/math', 'exercise', exercise.id]">Открыть</button>
    <button (click)="removeExercise(exercise.id)">Удалить</button>

  </div>
</div>
