<div class="container">
  <h3>Выбери действие</h3>
  <form [formGroup]="form" (ngSubmit)="start()">

    <div>
      <label for="numberExamples">Количество примеров</label>
      {{form.get('numberExamples')?.value}}
      <input
        id="numberExamples"
        type="range"
        min="1" max="20" step="1"
        formControlName="numberExamples"
      >
    </div>
    <div>
      <input
        id="multiply"
        type="radio"
        name="operation"
        value="multiply"
        formControlName="operation"
      >
      <label for="multiply">Умножение</label>
    </div>

    <div>
      <input
        id="division"
        type="radio"
        name="operation"
        value="division"
        formControlName="operation"
      >
      <label for="division">Деление</label>
    </div>

    <div>
      <input
        id="addition"
        type="radio"
        name="operation"
        value="addition"
        formControlName="operation"
      >
      <label for="addition">Сложение</label>
    </div>

    <div>
      <input
        id="subtraction"
        type="radio"
        name="operation"
        value="subtraction"
        formControlName="operation"
      >
      <label for="subtraction">Вычитание</label>
    </div>

    <div *ngIf="form.get('operation')?.value === 'addition' || form.get('operation')?.value === 'subtraction'">
      <div>
        <label for="from">От</label>
        <input
          type="number"
          id="from"
          formControlName="from"
        >
      </div>
      <div>
        <label for="before">До</label>
        <input
          type="number"
          id="before"
          formControlName="before"
        >
      </div>
    </div>

    <div>
      <button type="submit">Начать упражнение</button>
    </div>
  </form>

  <app-mult-game
    (endGame)="end()"
    *ngIf="playGame"
  ></app-mult-game>
  <app-end-game
    (closeEndGame)="closeEndGame()"
    *ngIf="showEndGame"
  ></app-end-game>

</div>
