<h3>Выбери действие</h3>


<input
  type="checkbox"
  name="multiply"
  id="multiply"
  [(ngModel)]="multiply"
>
<label for="multiply">Умножение</label>

<div *ngIf="multiply">
  <label for="from">От</label>
  <input
    type="number"
    id="from"
    [(ngModel)]="from"
  >

  <label for="before">До</label>
  <input
    type="number"
    id="before"
    [(ngModel)]="before"
  >
</div>

<div>
<button (click)="start()">Start</button>

</div>

<app-mult-game
  [from]="from"
  [before]="before"
  (endGame)="end()"
  *ngIf="playGame"
></app-mult-game>

