<div class="backdrop">
  <div class="field">
    <p>Время до конца упражнения: {{ leftTime | date: 'mm:ss' }} </p>
    <p>Осталось примеров: {{ quantityAnswers }}</p>
    <p>Верно: {{ correctAnswer }}</p>
    <p>Неверно {{ wrongAnswer }}</p>


    <form [formGroup]="form" (ngSubmit)="checkResult()">
      <div>
        <span> {{ example.text }} = </span>
        <input formControlName="answer"
               appFocusAuto
               id="answer"
               type="number"
        >
      </div>
      <div>
        <button
          type="submit"
          (keyup.enter)="checkResult()"
          [disabled]="form.invalid || buttonDisabled"
          *ngIf="!showCheckResult"
        >Проверить результат
        </button>
      </div>
    </form>
    <button
      appFocusAuto
      (click)="next()"
      *ngIf="showCheckResult"
    >Следующий пример
    </button>

    <hr>

    <div>
      <button
        (click)="this.endGame.emit()"
      >Закончить
      </button>
    </div>

    <div *ngIf="showCheckResult">
      <p *ngIf="response.right" style="background-color: #00f800;">Верно</p>
      <p *ngIf="!response.right" style="background-color: #ff0000;">Неверно</p>
      <p>{{ response.text }}</p>

    </div>

  </div>
</div>

